header{
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	padding: 0 0 0 20px;
}

.logo-header{
	width: 100%;
	height: 100%;
	background: url(../images/logo.png) no-repeat left;
}