.filters{
	background-color: #fff;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

section.filters button{
	font-size: 18px;
	border: none;
	background-color: #FF5A5F;
	color: #fff;
	height: 48px;
	width: 20%;
	margin: 0 30px 0 0;
}

button:hover{
	opacity: 90%;
}